requests==2.32.4
beautifulsoup4==4.13.4
markdownify==1.1.0
PyMuPDF==1.26.3
psycopg2-binary==2.9.10
llama-index==0.13.0
llama-index-embeddings-google-genai==0.3.0
qdrant-client==1.15.1
PyYAML==6.0.2
python-dotenv==1.1.1
schedule==1.2.2
